body{
font-family:Arial;
text-align:center;
background:#111;
background-image:url("medha.png");
background-size:cover;
background-position:center;
color:white;
margin:0;
padding:0;
}

header{
padding-top:20px;
}

header img{
display:block;
margin:auto;
padding:20px;
}

h1{
color:#ffcc00;
}

.logout{

position:absolute;
top:20px;
right:20px;
background:#ff4444;
color:white;
border:none;
padding:8px 14px;
border-radius:6px;
cursor:pointer;

}

p{
margin-top:5px;
font-size:16px;
}

.container{
margin-top:20px;
}

#wheel{
width:260px;
height:260px;
border-radius:50%;
border:10px solid #fff;
margin:auto;
background:conic-gradient(
#ff5722 0deg 60deg,
#4caf50 60deg 120deg,
#2196f3 120deg 180deg,
#ffeb3b 180deg 240deg,
#9c27b0 240deg 300deg,
#00bcd4 300deg 360deg
);
transition:transform 4s ease-out;
}

.pointer{
font-size:30px;
}

button{
padding:12px 25px;
font-size:18px;
background:#ff9800;
border:none;
border-radius:8px;
color:white;
cursor:pointer;
margin-top:15px;
}

button:hover{
background:#ff5722;
}

.coins{
font-size:20px;
margin-top:10px;
}

.popup{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.7);
display:none;
align-items:center;
justify-content:center;
}

.popup-content{
background:#222;
padding:30px;
border-radius:10px;
}
.ad-popup{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:black;
display:none;
align-items:center;
justify-content:center;
color:white;
z-index:999;
}

.ad-box-inner{
text-align:center;
}

